<form
  #form="ngForm"
  (ngSubmit)="saveBook(form)"
>
  <h2 mat-dialog-title>Añadir nuevo libro</h2>
  <mat-dialog-content>
    <section fxLayoutAlign="center" style="margin: 10px 0px 10px 0px">
      <mat-card fxFlex="100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          <mat-form-field>
            <mat-label>Título</mat-label>
            <input
              type="text"
              matInput
              placeholder="ejem. El señor de los anillos"
              name="title"
              ngModel
              required
            />
            <mat-error>Debe introducir el título del libro</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input
              type="text"
              matInput
              placeholder="ejem. La primera edición"
              name="description"
              ngModel
              required
            />
            <mat-error>Debe introducir la descripción del libro</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Precio</mat-label>
            <input
              type="text"
              matInput
              placeholder="ejem. 19"
              name="price"
              ngModel
              required
            />
            <mat-error>Debe introducir el precio del libro</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Seleccione autor</mat-label>
            <mat-select
              [(ngModel)]="selectAuthorId"
              name="author"
              (selectionChange)="selected($event)"
            >
              <mat-option *ngFor="let author of authors" [value]="author._id">
                {{author.name + ' ' + author.lastname}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Seleccione fecha de publicación"
              [matDatepicker]="picker"
              name="publishDate"
              [(ngModel)]="publishDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Cerrar</button>
    <button mat-button>Guardar</button>
  </mat-dialog-actions>
</form>
